progress-bar {

	.hide-progress {
		opacity: 0 !important;
	}

	.progress-outer {
		width: 96%;
		margin: 1vh auto 0 auto;
		padding: 0.1vh;
		text-align: center;
		background-color: #f4f4f4;
		border: 0.5vh solid #dcdcdc;
		color: #fff;
		border-radius: 2vh;
	}

	.progress-inner {
		//min-width: 2%;
		white-space: nowrap;
		overflow: hidden;
		padding: 0;
		padding-top: 0.5vh;
		padding-bottom: 0.5vh;
		border-radius: 3vh;
		background-color: map-get($colors, primary);
	}

}
