end-game {
    .user-info {
        position: relative;
        z-index: 2;
        margin-top: 2vh;
        margin-bottom: 3vh;
        text-align: center;
        img {
          border-radius: 50%;
          width: 15vh;
          height: 15vh;
        }
    }
}
