end-game {
    .user-info {
        position: relative;
        z-index: 2;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
        img {
          border-radius: 50%;
          width: 30vw;
          height: 30vw;
        }
    }
}
