player-card {
  .card {
    padding: 0vh;
    margin: auto;
    width: 15vh;
    .card-content{
      padding: 1vh 1vh 0 1vh;
    }
    p {        
      background-color: #ffffff;
      border: 1px #cccccc solid;
      width: 100%;
      margin: 0;
      border-radius: 1vh;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
      font-size: 2vh;    
    }

  }
  .card-select {
    background-color: color($colors, primary, base);
  }

  .image-user{
      width: 70%;
      height: 750%;    
      margin: 10% auto auto;
      border-radius: 50%;
    }
}
