simple-user-card {
    .image-user{
        width: 90%;
        height: 90%;    
        margin: 10% auto auto;
        border-radius: 5%;
      }
    
      .no-padding{
        padding:0;
      }
}
