select-cards {

    .select-card{
        margin:0 !important;
        padding: 0 !important;
    }

    .title-select {
        font-size: 2vh !important;
        margin:0 !important;
        padding: 0 !important;
    }
}
