page-main-menu {
  .game-header{
    text-align: center !important;    
    .score {
      width: 10vh !important;
      margin: auto !important;
      text-align: center !important;
      font-size: 4vh;
    }
    .wins {

    }
  }

  .user {
    text-align: center;
    font-weight: bold; 

    img {
      width: 20vh;
      height: 20vh;
      margin: 5vh auto auto auto;
      border-radius: 50%;
    }
    p {
      font-size: 4vh;
    }
  }

  h5 {
    font-size: 3vh;
  }


  .friends-container{
    width: 55vh;
    height: 23vh;
    margin: auto;
  }

  .button {
    margin: 1vh auto auto auto;
    font-size: 2.5vh !important;
    width: 40vh;
  }

}
