page-main-menu {

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    text-align: center;
  }
  
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 35px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
  .stars {
    line-height: 0px;    
    font-size: 10px;  
    text-align: center;
  }
.profile-image-wrapper {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: transparentize( color($colors, primary), 0.5);
    margin: auto;
    border: 1px solid color($colors, primary);
    border-radius: 10px 10px 10px 10px;
    display: table;
    width: 90%;
    padding: 10px;

    .profile-image {
      width:  75px;
      height: 75px;
      border-radius: 50%; 
      margin-right: 10px;
      border: 1px solid color($colors, primary);
      display: inline-table;
      float: left;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      margin-left: 10px;
      display: inline-table;
      float: left;
      background-color: #eee;
      width: 75px;
      height: 75px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }
    }


    .profile-points {
      display: inline-table;
      float: right;
      background-color: transparentize( color($colors, primary), 0.8);
      border: 1px solid color($colors, primary);
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;

      font-size: 10px;

      ion-icon {
        font-size: 33px;
        margin-bottom: -15px;
        margin-top: 5px;
      }
    }
  }
}
