<ion-navbar transparent>
</ion-navbar>
<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()"></div>
      <div float-left>
        {{displayName}}
      </div>
      <div float-right>
          <div class="profile-points">
            <ion-icon name="md-trophy"></ion-icon>
            <div>
              53
            </div>
        </div>
        <p class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </p>
      </div>
    </div>
  </form>

  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>

  <div *ngIf="friends" class="profile-image-wrapper">

    <h5 text-center>
      {{ 'INVITE_YOUR_FRIENDS' | translate }}
    </h5>
    <button (click)="sendInvite(friend)" ion-button icon-only outline color="primary" *ngFor="let friend of friends">
      <img [src]="friend.picture.data.url"/>
    </button>
  </div>


  <div padding>
    <button ion-button icon-left block outline (click)="solo()" class="signup">
      <ion-icon name="person"></ion-icon>
      {{ 'SOLO' | translate }}
    </button>
  </div>

  <div padding>
    <button ion-button icon-left block outline (click)="multiplayer()" class="signup">
      <ion-icon name="people"></ion-icon>
      {{ 'MULTIPLAYER' | translate }}
    </button>
  </div>
  <div padding>
    <button ion-button icon-left block outline color="danger" (click)="cancel()" class="signup">
      <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      {{ 'BACK_BUTTON_TEXT' | translate }}
    </button>
  </div>
</ion-content>
